<div id="aboutContent">
  <h2>What is twirch?</h2>
  <p>twirch is a simple web application designed to combine multiple Twitch chats into a single scrolling window.</p>
  <h2>How do I use it?</h2>
  <p>Type the channels that you want to combine into the URL bar, separated by slashes (/). For example, if you want to
    combine Channel1 and Channel2, your twirch URL would be twirch.io/channel1/channel2</p>
  <h2>Who makes this?</h2>
  <p>I'm Michael "UrzaMTG" McBride, I develop this in my downtime. If you see any issues, the project is on GitHub at 
    <a target="_blank" href="https://github.com/UrzaMTG/twirch">https://github.com/UrzaMTG/twirch</a></p>
</div>
