$background-color: rgb(15, 15, 15);
$background-alt-row-color: rgb(41, 41, 41);
$text-color: rgb(224, 224, 224);
$channel-color: rgb(150, 150, 150);
$timestamp-color: rgb(105, 105, 105);

#messages {
  list-style-type: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  overflow-y: scroll;
  margin: 32px 0 0 0;
  padding: 0;
}
#messages > li {
  padding: 0.5rem 0.5rem;
}
#messages > li:nth-child(odd) {
  background: $background-alt-row-color;
}

.messageContainer {
  word-wrap: break-word;
  line-height: 20px;
  vertical-align: middle;
}

.messageChannel {
  color: $channel-color;
  padding-right: 4px;
}

.messageTimestamp {
  color: $timestamp-color;
  padding-right: 4px;
}

.messageUsername {
  color: $text-color;
  font-weight: 600;
  padding-right: 4px;
}

.messageText {
  color: $text-color;
}

img.twitch-emote {
  margin: -0.5rem 0;
  position: relative;
  vertical-align: initial;
}