@use '../variables';

#navBar {
  background:rgba(0, 0, 0, 0.75);
  color: variables.$text-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  line-height: 32px;
  padding: 0px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  z-index: 1;
}

#main {
  z-index: 0;
}

.flexSpacer {
  flex-grow: 99;
  text-align: center;
}

.icon {
  position: relative;
  color: inherit;
  top: 0px;
  width: 24px;
  height: 24px;
}

.icon:hover {
  cursor: pointer;
}

#messages {
  list-style-type: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: overlay;
  overflow-y: scroll;
  margin: 32px 0 0 0;
  padding: 0;
}

#messages::-webkit-scrollbar {
  width: 4px;
}

#messages::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

#messages::-webkit-scrollbar-thumb {
  background-color: variables.$timestamp-color;
  border-radius: 10px;
}

#messages > li {
  padding: 0.5rem 0.5rem;
}

.messageContainer {
  word-wrap: break-word;
  line-height: 20px;
  vertical-align: middle;
}

.messageChannel {
  color: variables.$channel-color;
  padding-right: 4px;
}

.messageTimestamp {
  color: variables.$timestamp-color;
  padding-right: 4px;
}

.messageUsername {
  color: variables.$text-color;
  font-weight: 600;
  padding-right: 4px;
}

.messageText {
  color: variables.$text-color;
}

img.twitch-emote {
  margin: -0.5rem 0;
  position: relative;
  vertical-align: initial;
}

