<app-toolbar></app-toolbar>

<div id="main">
  <ul id="messages">
    <li *ngFor="let message of messages" class="messageContainer">
      <span class="messageChannel">({{message.channel}})</span>
      <span class="messageTimestamp" [hidden]="!message.timestamp">{{message.timestamp | date:'h:mm'}}</span>
      <span class="messageUsername" [ngStyle]="{'color': message.color}">{{message['display-name']}}:</span>
      <span class="messageText" [innerHTML]="message.message"></span>
    </li>
  </ul>
</div>