<div id="navBar">
  <span class="flexSpacer">{{ title }}</span>
  <span>
    <img id="settingsIcon" class="icon" src="../../assets/images/gear.svg" role="img" alt="Settings menu" (click)="showSettings = !showSettings">
    <img id="aboutIcon" class="icon" src="../../assets/images/question.svg" role="img" (click)="openAbout()" alt="About this page">
  </span>
</div>
<div id="settingsMenu" [hidden]="!showSettings">
  <div class="settings-content-wrapper">
      <div class="settingsRow">
        <label for="highlightChannel" class="settingsLabel">Highlight channel:</label>
        <select name="highlightChannel" [(ngModel)]="settings.highlightChannel" class="settingsInput">
          <option value="" selected></option>
          <option *ngFor="let channel of settings.channels" [ngValue]="channel">{{channel}}</option>
        </select>
      </div>
  </div>
</div>
<div id="main">
  <ul id="messages" #scrollArea>
    <li class="messageContainer"
        *ngFor="let message of messages"
        [class.eventMessage]="message['message-type'] != 'chat'"
        [class.messageRowHighlight]="message.channel === settings.highlightChannel">
      <ng-container *ngTemplateOutlet="message['message-type'] === 'chat' ? chatMessage : chatEvent; context: {$implicit: message}">
      </ng-container>
    </li>
  </ul>
</div>

<ng-template #chatMessage let-message>
  <span class="messageChannel">({{message.channel}})</span>
  <span class="messageTimestamp" [hidden]="!message.timestamp">{{message.timestamp | date:'h:mm'}}</span>
  <span class="messageBadges" [hidden]="!message['badges-raw']" [innerHTML]="message['badges-raw']"></span>
  <span class="messageUsername" [hidden]="!message['display-name']" [ngStyle]="{'color': message.color}">{{message['display-name']}}:</span>
  <span class="messageText" [innerHTML]="message.message"></span>
</ng-template>

<ng-template #chatEvent let-message>
  <span class="messageChannel">({{message.channel}})</span>
  <span class="messageText" [innerHTML]="message.message"></span>
</ng-template>