@use '../variables';

#navBar {
  background: variables.$nav-background-color;
  color: variables.$text-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  line-height: 32px;
  padding: 0px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  z-index: 1;
}

.flexSpacer {
  flex-grow: 99;
  text-align: center;
}

.icon {
  position: relative;
  color: inherit;
  top: 4px;
  width: 24px;
  height: 24px;
}

.icon:hover {
  cursor: pointer;
}

#settingsMenu {
  position: fixed;
  top: 32px;
  right: 0px;
  height: 32px;
  width: 400px;
  max-width: 60%;
  line-height: 32px;
  z-index: 100;
}

.settings-content-wrapper {
  background: variables.$nav-background-color;
  color: variables.$text-color;
  width: 100%;
  padding: 0 8px;
  display: inline-block;
  text-decoration: none;
}

.settingsRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.settingsLabel {
  text-align: left;
}

.settingsInput {
  max-width: 50%;
  min-width: 35%;
}

select.settingsInput {
  height: initial;
  background: variables.$nav-background-color;
  color: variables.$text-color;
}

#main {
  z-index: 0;
}

#messages {
  list-style-type: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: overlay;
  overflow-y: scroll;
  margin: 32px 0 0 0;
  padding: 0;
}

#messages::-webkit-scrollbar {
  width: 4px;
}

#messages::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

#messages::-webkit-scrollbar-thumb {
  background-color: variables.$timestamp-color;
  border-radius: 10px;
}

#messages > li {
  padding: 0.5rem 0.5rem;
}

.messageContainer {
  word-wrap: break-word;
  line-height: 20px;
  vertical-align: middle;
}

.eventMessage {
  border-left: 4px solid variables.$text-color;
}

.messageRowHighlight {
  background: variables.$background-highlight-row-color;
}

.messageChannel {
  color: variables.$channel-color;
  padding-right: 4px;
}

.messageTimestamp {
  color: variables.$timestamp-color;
  padding-right: 4px;
}

.messageBadges {
  padding-right: 2px;
}

.messageUsername {
  color: variables.$text-color;
  font-weight: 600;
  padding-right: 4px;
}

.messageText {
  color: variables.$text-color;
}

img.twitch-emote {
  margin: -0.5rem 0;
  position: relative;
  vertical-align: initial;
}

img.twitch-badge {
  position: relative;
  vertical-align: text-top;
  padding-right: 2px;
}