$background-color: rgb(15, 15, 15);
$background-highlight-row-color: rgb(35, 35, 35);
$nav-background-color: rgb(0, 0, 0, 0.75);
$text-color: rgb(224, 224, 224);
$channel-color: rgb(150, 150, 150);
$timestamp-color: rgb(105, 105, 105);